repos:
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.11.0
    hooks:
      - id: ansible-lint
        # Уберите старые зависимости или обновите их
        # additional_dependencies: []  # закомментируйте или удалите эту строку